<p-table [value]="passwords" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
        <tr>
            <th>Password</th>
            <th>Name</th>
            <th>Description</th>
            <th>URL</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-password>
        <tr>
            <td>{{ password.password }}</td>
            <td>{{ password.name }}</td>
            <td>{{ password.description }}</td>
            <td>{{ password.url }}</td>
            <td>
                <button
                    pButton
                    pRipple
                    class="p-element p-ripple p-button-rounded p-button-info p-button-text p-button p-component p-button-icon-only"
                    icon="pi pi-pencil"
                ></button>
            </td>
            <td>
                <button
                    pButton
                    pRipple
                    class="p-element p-ripple p-button-rounded p-button-danger p-button-text p-button p-component p-button-icon-only"
                    icon="pi pi-trash"
                ></button>
            </td>
        </tr>
    </ng-template>
</p-table>
